@font-face {
  font-family: "Lilita";
  src: url("Fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Impact";
  src: url("Fonts/impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: white;
  font-family: "Lilita", sans-serif;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  background-color: white;
  position: fixed;
  color: black;
  box-shadow: 0px 0px 3px gray;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  z-index: 3;
}

.headerizq {
  width: 30%;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 30px;
  color: #da0000;
  letter-spacing: 0.3rem;
}

.red {
  color: #da0000;
}

.headermedio {
  display: flex;
  width: 40%;
  gap: 2rem;
  justify-content: center;
}
.headerder {
  margin-right: 1rem;
  display: flex;
  width: 30%;
  justify-content: right;
  gap: 1rem;
}

.info {
  font-size: 18px;
  padding-top: 1rem;
  margin: 0;
}
svg {
  width: 2.5rem;
  height: auto;
  color: black;
  cursor: pointer;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  color: black;
  flex-flow: column;
}

.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  width: 100%;
  position: relative;
}

.work {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12rem;
  font-family: "Impact", sans-serif;
  opacity: 30%;
  width: 100%;
}

.texto{
  color: white;
  opacity: 90%;
  font-size: 8rem;
  font-family: "Impact", sans-serif;
  cursor: pointer; 
  position: absolute;
  width: 80%;
}

.texto1{
  top: 156rem;
  left: 47%;
  transform: translate(-50%, -50%);
}

.texto2{
  top: 135rem;
  left: 47%;
  transform: translate(-50%, -50%);
}

.texto3{  
  top: 113rem;
  left: 47%;
  transform: translate(-50%, -50%);
}


.hero1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero2 {
  width: 70%;
  font-size: 8rem;
  font-family: "Impact", sans-serif;
  line-height: 0.9;
}

.image1 {
  margin-top: 1rem;
  object-fit: cover;
  border-radius: 5rem;
}

.image2{
  object-fit: cover;    
  width: 90%;
  justify-self: center;
  border-radius: 5rem;
  cursor: pointer;  
}

.texto{
  position: absolute;
}

.cta {
  text-align: center;
  margin-top: 1rem;
}

.features{
  display: flex;
  flex-flow: column; 
}
.features .asterisco{
  align-self: center;
  margin-top: 1rem;
}
.asterisco {
  width: 7%;
  margin: 0;
  
  
  
}



.h1cta {
  width: 50%;
  font-size: 4rem;
  font-family: "Impact", sans-serif;
  line-height: 0.95;
  margin-top: 1rem;
  justify-self: center;  
  margin-bottom: 0;
}

.ctatext {
  font-family: "Lilita", sans-serif;
  width: 39%;
  justify-self: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.ctabuttom {
  width: 30%;
  justify-self: center;
}

.entrenamientos {
  font-size: 3rem;
  font-family: "Impact", sans-serif;
  line-height: 0.95;
  margin-top: 5rem;
  margin-left: 6rem;
  margin-bottom: 1.5rem;
  
}

.featuresgrid{
  display: grid;
  grid-template-rows: repeat(3, 1fr);  
  align-items: center;
  gap: 1rem;
  
}
.but1 {
  background-color: white;
  color: #000;
  border: 2px solid #000;
  border-radius: 25px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 28%;
}

.but1:hover {
  background-color: black;
  color: #fff;
}

/* CSS DEL CHAT DE DANI
.overlay,
.form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}

.two .form-group input {
    color: #FFFFFF;
}

.two .form-group input:focus {
    color: #FFFFFF;
}

.form-group button {
    outline: none;
    background: #ff3126;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-group .form-remember input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}

*/ 
